{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>Dashboards
        </h1>

    </div>

    <div class="nhsuk-grid-column-one-half">
        <h2 class="nhsuk-heading-m">Clinical dashboards</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Alerts Dashboard</a></li>
            <li><a href="#">Antimicrobial Stewardship</a></li>
            <li><a href="#">Antimicrobial Stewardship - Children</a></li>
            <li><a href="#">Antimicrobial Stewardship - RightCare UTI Focus Pack</a></li>
            <li><a href="#">Children's Standard Liquid Concentration</a></li>
            <li><a href="#">Diabetes Prescribing Comparators</a></li>
            <li><a href="#">Medication Safety Indicators</a></li>
            <li><a href="#">Mental Health Prescribing Comparators</a></li>
            <li><a href="#">Opioid Prescribing Comparators (Snapshot)</a></li>
            <li><a href="#">Opiod Prescribing Comparators (Trend)</a></li>
            <li><a href="#">Polypharmacy Prescribing Comparators</a></li>
            <li><a href="#">Respiratory</a></li>
            <li><a href="#">Respiratory - Carbon Impact</a></li>
            <li><a href="#">Safer Management of Controlled Drugs</a></li>
            <li><a href="#">Valproate Prescribing in Female Patients Under 55</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-half">
        <h2 class="nhsuk-heading-m">Medicines Value Programme Dashboards</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Evidence Based Interventions</a></li>
            <li><a href="#">Items not for Routine Prescribing</a></li>
            <li><a href="#">Over the Counter Medicines (OTC)</a></li>
            <li><a href="#">Potential General Savings - (2022/23-Q1 Apr-Jun)</a></li>
            <li><a href="#">Potential General Savings - (2022/23-Q2 Jul-Sep)</a></li>
            <li><a href="#">Potential General Savings - (2022/23-Q3 Oct-Dec)</a></li>
            <li><a href="#">Potential General Savings - (2022/23-Q4 Jan-Mar)</a></li>
            <li><a href="#">Premium Priced Generics</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Other Dashboards</h2>
        <ul class="nhsuk-list">
            <li><a href="#">EPS and eRD Utilisation Dashboard</a></li>
            <li><a href="#">Volumn & Cost</a></li>
            <li><a href="#">Prescription Search</a></li>
            <li><a href="#">NHS Number Search</a></li>
            <li><a href="#">Out of Area Dispensing</a></li>
        </ul>
    </div>

</div>
{% endblock %}