<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
eOPS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <h1 class="nhsuk-heading-l">
            eOPS Prototype
        </h1>

        <!-- Add your content here -->
        <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

        <p>eOPS is an online application designed to optimize the handling of ophthalmic data. Users benefit from access
            to vital information, ensuring a swift and efficient data retrieval process.</p>

        <h2 class="nhsuk-heading-m">Current version</h2>
        <p>This is the latest version of the prototype currently being worked on by the UCD team.</p>
        <a class="nhsuk-button" href="v5/portal-eops">eOPS prototype</a>

        <hr class="nhsuk-u-margin-top-3">
<!-- ================================================== -->
        <!-- VERSION 5 -->
        <!-- ================================================== -->
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Version 5 - Top navigation, remaining screens and new latest news flow
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">...
                    </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Status
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Notes
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--blue">
                                    In progress
                                </strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Notes </span>
                                <ul class="nhsuk-list nhsuk-list--bullet">
                                    <li>Top navigation is to be restructured, this is something we must have user research on to confirm whether the information achitecture is clear to users.</li>
                                    <li>Remaining screens of the top navigation will be redesigned into the new toolkit, these have been moved over in previous versions but not changed in a way to reflect better in the new toolkit</li>
                                    <li>Latest news was something users liked to see, this was something we originally had on the ePACT2 homepage as a scrollable section, but for accessibility reasons, we are providing a new way of viewing the latest news and setting this up for eOPS.</li>
                                </ul>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Link </span><a href="v5/portal-eops">Version 5</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <!-- ================================================== -->
        <!-- ================================================== -->
        <!-- VERSION 4 -->
        <!-- ================================================== -->
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Version 4 - Data Products Homepage (iteration)
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">...
                    </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Status
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Notes
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--blue">
                                    In progress
                                </strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Notes </span>
                                <ul class="nhsuk-list nhsuk-list--bullet">
                                    <li>Having the homepage for eOPS match up with eDEN and ePACT2 to keep consistency</li>
                                </ul>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Link </span><a href="v4/portal-eops">Version 4</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <!-- ================================================== -->
        <!-- ================================================== -->
        <!-- VERSION 3 -->
        <!-- ================================================== -->
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Version 3 - Portal and Data Products Homepage (iteration)
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">...
                    </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Status
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Notes
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--blue">
                                    In progress
                                </strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Notes </span>
                                <ul class="nhsuk-list nhsuk-list--bullet">
                                    <li>iterations based on user feedback</li>
                                    <li>provide latest data on the portal and homepage with exact dates where possible</li>
                                    <li>re-think the useful links on both the portal and homepage</li>
                                    <li>reduce generic content on the portal</li>
                                    <li>provide direct support on both the portal and homepage</li>
                                    <li>provide signposting to data communities, and some context of what they are</li>
                                    <li>training and guidance resources to be added to the homepage</li>
                                    <li>latest news to be added to the homepage</li>
                                </ul>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Link </span><a href="v3/portal-eops">Version 3</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <!-- ================================================== -->
        <!-- VERSION 2 -->
        <!-- ================================================== -->
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Version 2 - New Portal and Data Products Homepage Design
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">...
                    </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Status
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Notes
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--green">
                                    Complete
                                </strong><br>
                                <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--aqua-green nhsuk-u-margin-top-2">
                                    UR Complete
                                </strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Notes </span>
                                <ul class="nhsuk-list nhsuk-list--bullet">
                                    <li>User Research Done - iterations in next version</li>
                                    <li>Portal redesign</li>
                                    <li>Data Product Homepage redesign</li>
                                    <li>Provide recently accessed and favourited data</li>
                                </ul>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Link </span><a href="v2/portal-eops">Version 2</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <!-- ================================================== -->
        <!-- VERSION 1 -->
        <!-- ================================================== -->
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Version 1 - New Prototype Setup
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">New prototype set up for eOPS
                    </caption>
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Status
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Notes
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--green">
                                    Complete
                                </strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Notes </span>
                                <ul class="nhsuk-list nhsuk-list--bullet">
                                    <li>new layouts</li>
                                    <li>no previous prototype in place</li>
                                    <li>use of the NHS Toolkit components and patterns</li>
                                    <li>This is a lift and shift of whats currently in the oracle version</li>
                                </ul>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Link </span><a href="v1/homepage">Version 1</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>


    </div>
</div>
{% endblock %}