// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/full-width';
@import 'components/nhsbsa-manage';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
.nhsuk-account__login {
    float: right;
    margin-left: 1em;
    margin-right: -16px;
    position: relative;
    z-index: 2;
}
.nhsuk-account__login--link, .nhsuk-account__login--link:visited, .nhsuk-account__login--link:hover {
    color: #fff;
    padding: 1em;
}
.nhsuk-account__login--icon {
    fill: #fff;
    height: 1.6em;
    margin-left: 0.6em;
    position: relative;
    top: 0.4em;
    width: 1.6em;
}
.nhsuk-account__login--link:focus .nhsuk-account__login--icon {
    fill: #212b32;
}