// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/full-width';
@import 'components/nhsbsa-manage';
@import 'components/notification-banner';
@import 'components/pagination';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
.nhsuk-account__login {
    float: right;
    margin-left: 1em;
    margin-right: -16px;
    position: relative;
    z-index: 2;
}
.nhsuk-account__login--link, .nhsuk-account__login--link:visited, .nhsuk-account__login--link:hover {
    color: #fff;
    padding: 1em;
}
.nhsuk-account__login--icon {
    fill: #fff;
    height: 1.6em;
    margin-left: 0.6em;
    position: relative;
    top: 0.4em;
    width: 1.6em;
}
.nhsuk-account__login--link:focus .nhsuk-account__login--icon {
    fill: #212b32;
}

// dashboard overrides
.nhsuk-header__navigation-list.custom-dashboard-nav {
    justify-content: left;
}
.side-nav .data-info {
    padding: 32px;

    span {
        font-weight: bold;
    }
}
.full-width {
    width:100%
}
.nhsuk-header__link {
    height: 100%;
    width: 100%;
    text-decoration: none;

    &:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}
.white-text {
    color: #ffffff;

    span {
        font-weight: bold;
    }
}

// Card blue arrow (product homepage)
.nhsuk-card__content--primary .nhsuk-icon {
    display: block;
    fill: #005eb8;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 24px;
    top: 50%;
}
.nhsuk-card__content--primary {
    padding-right: 75px;
}
// Secondary Card Design
.nhsuk-card--secondary {
    background: rgba(0, 0, 0, 0);
    border-bottom: 4px solid #d8dde0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.nhsuk-card__content--secondary {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.nhsbsa-filter-tag:after {
    background-image: url(https://raw.githubusercontent.com/nhsuk/nhsuk-frontend/1ff76e3a864f181461ef6ba21035d39db18fb4d6/packages/assets/icons/icon-close.svg);
    content: "";
    background-size: contain;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
    width: 20px;
}

// seconary colour text

.nhsuk-secondary-color {
    color: $nhsuk-secondary-text-color;
}