{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            Prescribing reports
        </h1>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Key reports
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Invoice Reconciliation Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Cost Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Organisation & Demographic Information
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                   Prescribing Monitoring
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Prescribing Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Prescribing Information
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Precribing Cost Analysis
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Volume Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Controlled Drug Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Controlled Drug Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Controlled Drug Monitoring
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Hospital Trust Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Common Information Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    MOKTT
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Advanced Service Flu Report - Pharmacy Contractors
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>
</div>
{% endblock %}