{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                {{ backLink({
                    "href": "homepage",
                    "text": "Go back"
                  }) }}
                <h1 class="nhsuk-heading-xl">
                    <span class="nhsuk-caption-l">
                        
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>ePACT2 news
                </h1>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-m">News filter</h2>
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="search-input">
                        Search keywords
                    </label>
                    <input class="nhsuk-input" id="search-input" name="search-input" type="text">
                </div>
                <a href="#" class="nhsuk-button">Search</a>
                
                <h3 class="nhsuk-heading-s">Filtered keywords</h3>
                <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-right-3 nhsbsa-filter-tag" data-module="nhsuk-button" type="submit">
                    Pharmacy
                </button>
                <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-right-3 nhsbsa-filter-tag" data-module="nhsuk-button" type="submit">
                    Analysis
                </button>
                <button class="nhsuk-button nhsuk-button--reverse nhsbsa-filter-tag" data-module="nhsuk-button" type="submit">
                    Science networks
                </button>
                <hr class="nhsuk-u-margin-top-3">
                <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                        <h3 class="nhsuk-fieldset__heading">
                          Filter tags
                        </h3>
                      </legend>
                
                      <div class="nhsuk-hint" id="example-hint">
                        Select all options that are relevant to you.
                      </div>
                
                      <div class="nhsuk-checkboxes">
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email" checked>
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                            Prescription
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                            Clinical
                          </label>
                        </div>
                
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" checked>
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                            ePACT2
                          </label>
                        </div>

                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-4" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-4">
                              Annual
                            </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-5" name="example" type="checkbox" value="text message" checked>
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-5">
                              Dashboard
                            </label>
                        </div>
                        <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-6" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-6">
                              Contractors
                            </label>
                        </div>
                
                      </div>
                    </fieldset>
                
                  </div>
                  <hr>
                <p><a href="#">Clear all filters</a></p>
            </div>
            <div class="nhsuk-grid-column-two-thirds">
                <h2 class="nhsuk-heading-m">Academic Health Science Networks (AHSN) Rebrand</h2>
                <p class="nhsuk-body-s">Posted: 19 July 2024</p>
                <p>Please note, changes have taken place within the system in the upload of May 2024 prescribing data to rebrand AHSNs to their new name of Health Innovation Networks (HIN). Therefore, any reporting undertaken for prescribing data will reflect the new naming.</p>
                
                <p><a href="latest-news-post">Read more</a></p>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    prescription
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    ePACT2
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    dashboard
                </strong>
                <hr>
                <h2 class="nhsuk-heading-m">Changes to Actual Cost reporting calculation (Pharmacy only)</h2>
                <p class="nhsuk-body-s">Posted: 28 May 2024</p>
                <p>We've updated our prescription data reports to reflect the recent changes to the discount deduction applied to pharmacy contractors monthly total of reimbursement prices, listed in the Drug Tariff Part V.</p>
                <p><a href="#">Read more</a></p>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    prescription
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    ePACT2
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    dashboard
                </strong>
                <hr>
                <h2 class="nhsuk-heading-m">Pharmacy First fields now available in Analysis Creation</h2>
                <p class="nhsuk-body-s">Posted: 9 May 2024</p>
                <p>On 31 January 2024 the new Pharmacy First - Clinical Pathways (PFCP) Advanced Service was introduced, which includes providing advice and NHS-funded treatment, where appropriate, for seven common conditions.</p>
                <p><a href="#">Read more</a></p>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    prescription
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    ePACT2
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    dashboard
                </strong>
                <hr>
                <h2 class="nhsuk-heading-m">BNF Code Changes - January 2024</h2>
                <p class="nhsuk-body-s">Posted: 11 March 2024</p>
                <p>The annual version changes relating to the BNF Structure have been implemented with January 2024 dispensing data.</p>
                <p><a href="#">Read more</a></p>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    prescription
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    ePACT2
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    dashboard
                </strong>
                <hr>
                <h2 class="nhsuk-heading-m">Lorem, ipsum dolor</h2>
                <p class="nhsuk-body-s">Posted: 09 February 2024</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum dolorem totam et praesentium exercitationem sed itaque. Sint illo odio temporibus?</p>
                <p><a href="#">Read more</a></p>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    prescription
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    ePACT2
                </strong>
                <strong class="nhsuk-tag nhsuk-tag--blue nhsuk-u-margin-right-2">
                    dashboard
                </strong>
                <hr>

                <nav class="govuk-pagination" aria-label="Pagination">
                    <div class="govuk-pagination__prev">
                        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-bold">
                            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                </svg>
                                <span class="govuk-pagination__link-title nhsuk-u-margin-left-3">
                                    Previous<span class="nhsuk-u-visually-hidden"> page</span>
                                </span>
                            </a>
                        </p>
                    </div>
                    <ul class="govuk-pagination__list">
                        <li class="govuk-pagination__item">
                            <p class="nhsuk-u-margin-bottom-0"><a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                                    1
                                </a></p>
                        </li>
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <p class="nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-bold"><a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                                    2
                                </a></p>
                        </li>
                        <li class="govuk-pagination__item">
                            <p class="nhsuk-u-margin-bottom-0"><a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                                    3
                                </a></p>
                        </li>
                    </ul>
                    <div class="govuk-pagination__next">
                        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-bold">
                            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                                <span class="govuk-pagination__link-title nhsuk-u-margin-right-3">
                                    Next<span class="nhsuk-u-visually-hidden"> page</span>
                                </span>
                                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                </svg>
                            </a>
                        </p>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock %}