{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            Prescribing reports
        </h1>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Key reports
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <ul class="nhsuk-list">
                    <li><a href="#">BNF Codes and Names (P2)</a></li>
                    <li><a href="#">Budget Report (P1)</a></li>
                    <li><a href="#">Dispensing Doctors (P3)</a></li>
                    <li><a href="#">High Cost Drugs (Practice Level) (P5p)</a></li>
                    <li><a href="#">High Cost Drugs (Prescriber Level) (P5e)</a></li>
                    <li><a href="#">Prescriber - Dispenser (P4)</a></li>
                    <li><a href="#">Prescribing Itemised (P6)</a></li>
                    <li><a href="#">Special Order Items (P7)</a></li>
                    <li><a href="#">Top 50 Paragraphs by Cost Prescriber (P10)</a></li>
                    <li><a href="#">Top 50 Paragraphs by Items Prescriber (P11)</a></li>
                </ul>
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Invoice Reconciliation Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Cost Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Organisation & Demographic Information
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Hospital Trust Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Common Information Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    MOKTT
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Advanced Service Flu Report - Pharmacy Contractors
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                   Prescribing Monitoring
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <ul class="nhsuk-list">
                    <li><a href="#">Prescribing Analysis Report (PAR)</a></li>
                    <li><a href="#">Repeat Dispensing Cost (PO4)</a></li>
                    <li><a href="#">Repeat Dispensing Items (PO3)</a></li>
                    <li><a href="#">Out of Hours Care</a></li>
                    <li><a href="#">Prescribing Monitoring Document (PM1)</a></li>
                    <li><a href="#">Personally Administered Items (PO1)</a></li>
                    <li><a href="#">Programme Budget Categories (PB2)</a></li>
                </ul>
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Prescribing Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Prescribing Information
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Precribing Cost Analysis
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Volume Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Controlled Drug Reports
                </span>
            </summary>
            <div class="nhsuk-details__text">

            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Controlled Drug Comparators
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Controlled Drug Monitoring
                </span>
            </summary>
            <div class="nhsuk-details__text">
                
            </div>
        </details>
    </div>
</div>
{% endblock %}