{% extends 'layout-top-nav-eden.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data Services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>NHSBSA Dental Provider Users
        </h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">CA Report</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">CA Report (England)</a></li>
            <li><a href="#">CA Report (England Tier 1)</a></li>
            <li><a href="#">CA Report (England Tier 2)</a></li>
            <li><a href="#">CA Report (England RY)</a></li>
            <li><a href="#">CA Report (England RY Tier 1)</a></li>
            <li><a href="#">CA Report (England RY Tier 2)</a></li>
            <li><a href="#">CA Report (Wales</a></li>
            <li><a href="#">CA Report (Wales RY)</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">CA Report by Performer</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">CA Report by Performer</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">OBC Report</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">OBC Report (England)</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">CRR all Claims</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">CRR All Claims (England) V2</a></li>
            <li><a href="#">CRR All Claims (England RY) V2</a></li>
            <li><a href="#">CRR All Claims (Wales)</a></li>
            <li><a href="#">CRR All Claims (Wales RY)</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Other</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">England CA Risk Report</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Feedback</h2>
        <hr>
        <p>Please use the above button to report and feedback on any:</p>
        <ul class="nhsuk-list nhsuk-list--number">
            <li>suggestions for improvement</li>
            <li>technical issues</li>
            <li>data anomalies</li>
        </ul>
        <p>eDEN will evolve over time, your feedback on how it is working for you is invaluable.</p>
    </div>
</div>

{% endblock %}