{% extends 'layout-top-nav-eden.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data Services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>NHSBSA Internal Dental Users
        </h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Useful links</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">eDEN Website</a></li>
            <li><a href="#">NHSBSA</a></li>
            <li><a href="#">NHS England</a></li>
            <li><a href="#">Dept of Health & Social Care</a></li>
            <li><a href="#">NHS Wales Home</a></li>
            <li><a href="#">Health Education & Improvment Wales</a></li>
            <li><a href="#">Public Health Wales</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Training & Resources</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">Book an eDEN training webinar</a></li>
            <li><a href="#">eDEN user and guides</a></li>
            <li><a href="#">eDEN Dashboard information</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Feedback</h2>
        <hr>
        <p>Please use the above button to report and feedback on any:</p>
        <ul class="nhsuk-list nhsuk-list--number">
            <li>suggestions for improvement</li>
            <li>technical issues</li>
            <li>data anomalies</li>
        </ul>
        <p>eDEN will evolve over time, your feedback on how it is working for you is invaluable.</p>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Dental Operations</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">Finance (Internal)</a></li>
            <li><a href="#">England Workforce Return</a></li>
            <li><a href="#">England Workforce Return 2020-21</a></li>
            <li><a href="#">England Workforce Return 2021-22</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Provider Assurance</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">Year End 2019/20</a></li>
            <li><a href="#">Year End 2020/21</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">External Dashboards</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">NHS England Dentistry Dashboard v1</a></li>
            <li><a href="#">NHS Wales Dentistry Dashboard v1</a></li>
            <li><a href="#">NHS Isle of Man Dentistry Dashboard v1</a></li>
            <li><a href="#">NHS England Urgent Dental Centres (COVID-19)</a></li>
            <li><a href="#">NHS England Dental Triage (COVID-19)</a></li>
            <li><a href="#">NHS England Dental Workforce (COVID-19)</a></li>
            <li><a href="#">Provider NHS England Dentistry Dashboard v1</a></li>
            <li><a href="#">Provider NHS Wales Dentistry Dashboard</a></li>
            <li><a href="#">Provider NHS Wales Dentistry Dashboard (LHB)</a></li>
        </ul>
    </div>
</div>

{% endblock %}