{% extends 'layout-top-nav-eden.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0">
                    <span class="nhsuk-caption-l">
                        Data Services
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>Dental Data - eDEN
                </h1>
            </div>
        </div>

        <hr>
    </div>

    <div class="nhsuk-grid-column-two-thirds">

        <h2 class="nhsuk-heading-l">Recently accessed by you</h2>
        <p>These are the 3 most recent data formats you have accessed.</p>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                            <a class="nhsuk-card__link" href="#">NHS England Dentistry Dashboard v1
                            </a>
                        </h2>
                        <!-- <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                            magnam.</p> -->
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                            <a class="nhsuk-card__link" href="#">NHS England Dental Workforce (COVID-19)

                            </a>
                        </h2>
                        <!-- <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur.</p> -->
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                            <a class="nhsuk-card__link" href="#">NHS Isle of Man Dentistry Dashboard v1
                            </a>
                        </h2>
                        <!-- <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
        </ul>
        <h2 class="nhsuk-heading-l">Your favourites</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                            <a class="nhsuk-card__link" href="#">NHS England Urgent Dental Centres (COVID-19)

                            </a>
                        </h2>
                        <!-- <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur.</p> -->
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                            <a class="nhsuk-card__link" href="#">NHS England Dental Triage (COVID-19)
                            </a>
                        </h2>
                        <!-- <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                            magnam.</p> -->
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-s">
                            <a class="nhsuk-card__link" href="#">NHS England Dentistry Dashboard v1

                            </a>
                        </h2>
                        <!-- <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
        </ul>
        <p><a href="#">View all your favourites</a></p>
        <hr>
        <h2 class="nhsuk-heading-l">Data services support</h2>
        <p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Latest release</h2>
            <p>Previous release:<br><strong>25 March 2024</strong></p>
            <p>Next release:<br><strong>26 April 2024</strong></p>
            <hr>
            <h2 class="nhsuk-heading-m">Latest news</h2>
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus labore quasi accusantium.</p>
            <p><a href="#">View all latest news</a></p>
            <hr>
            <h2 class="nhsuk-heading-m">eDEN training</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Book an eDEN training webinar</a></li>
                <li><a href="#">eDEN user guides and videos</a></li>
                <li><a href="#">eDEN dashboard information</a></li>
            </ul>
            <h2 class="nhsuk-heading-m">Guidance</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Dashboard guidance</a></li>
                <li><a href="#">Report guidance</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}