{% extends 'layout-top-nav-eops.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 class="nhsuk-heading-xl">
                    <span class="nhsuk-caption-l">
                        Data Services
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>eOPS
                </h1>

                <h2 class="nhsuk-heading-l">Dashboards</h2>
                <ul class="nhsuk-grid-row nhsuk-card-group">
                    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content nhsuk-card__content--primary">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    <a class="nhsuk-card__link" href="#">eOPS Version 3</a>
                                </h2>
                                <strong class="nhsuk-tag nhsuk-tag--aqua-green nhsuk-u-margin-bottom-3">
                                    Dashboard
                                </strong>
                                <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore pariatur beatae corporis nostrum, tenetur similique!</p>

                                <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771" />
                                        <path data-name="Path" d="M11.667 9.229L15.438 13" />
                                    </g>
                                </svg>

                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content nhsuk-card__content--primary">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    <a class="nhsuk-card__link" href="#">NHS England
                                    </a>
                                </h2>
                                <strong class="nhsuk-tag nhsuk-tag--aqua-green nhsuk-u-margin-bottom-3">
                                    Dashboard
                                </strong>
                                <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore pariatur beatae corporis nostrum, tenetur similique!</p>

                                <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771" />
                                        <path data-name="Path" d="M11.667 9.229L15.438 13" />
                                    </g>
                                </svg>

                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content nhsuk-card__content--primary">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    <a class="nhsuk-card__link" href="#">eOPS Version 2
                                    </a>
                                </h2>
                                <strong class="nhsuk-tag nhsuk-tag--aqua-green nhsuk-u-margin-bottom-3">
                                    Dashboard
                                </strong>
                                <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore pariatur beatae corporis nostrum, tenetur similique!</p>

                                <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771" />
                                        <path data-name="Path" d="M11.667 9.229L15.438 13" />
                                    </g>
                                </svg>

                            </div>
                        </div>

                    </li>
                    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content nhsuk-card__content--primary">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    <a class="nhsuk-card__link" href="#">eOPS Version 1
                                    </a>
                                </h2>
                                <strong class="nhsuk-tag nhsuk-tag--aqua-green nhsuk-u-margin-bottom-3">
                                    Dashboard
                                </strong>
                                <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore pariatur beatae corporis nostrum, tenetur similique!</p>

                                <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771" />
                                        <path data-name="Path" d="M11.667 9.229L15.438 13" />
                                    </g>
                                </svg>

                            </div>
                        </div>

                    </li>
                </ul>

                <h2 class="nhsuk-heading-l">Data services support</h2>
                <p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>

                <h2 class="nhsuk-heading-l">Feedback</h2>
                <p>Feedback from our users allow us to continue to improve our data products in a way to provide users with a quick and easy experience, any feedback is much appreciated.</p>
                <p><a href="#">Provide feedback</a></p>
            </div>
            <div class="nhsuk-grid-column-one-third">


                <div class="nhsuk-card nhsuk-card--secondary">
                    <div class="nhsuk-card__content nhsuk-card__content--secondary">
                        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Latest data release</h2>
                        <p class="nhsuk-u-margin-bottom-1">Current reporting period: <strong>December 2023</strong></p>
                    </div>
                </div>
                <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
                    <h2 class="nhsuk-heading-m">Latest news</h2>
                    <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus labore quasi accusantium.</p>
                    <p><a href="#">View all latest news</a></p>
                    <hr>
                    <h2 class="nhsuk-heading-m">eOPS training</h2>
                    <ul class="nhsuk-list">
                        <li><a href="#">Book an eOPS training webinar</a></li>
                        <li><a href="#">eOPS user guides</a></li>
                        <li><a href="#">eDEN dashboard information</a></li>
                    </ul>
                    <h2 class="nhsuk-heading-m">Guidance</h2>
                    <ul class="nhsuk-list">
                        <li><a href="#">Dashboard guidance</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}