{% extends 'layout-dashboard-home.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data Services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>Help with Health Costs
        </h1>

        <p>The NHS Business Services Authority (NHSBSA) administers a range of services to help people with their health costs, including help with:</p>
        
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>NHS prescription costs</li>
            <li>NHS dental costs</li>
            <li>sight tests, glasses and contact lenses</li>
            <li>travel to receive NHS treatment</li>
            <li>NHS wigs and fabric supports</li>
        </ul>
        
        <p>Full detauks of these schemes are available on the <a href="#">NHS Help with Health Costs webpage</a>.</p>
        <p>These statistics provide data related to these certificate schemes. Data covers the financial years 2018/19 to 2023/24, where the financial year runs from April 1 to March 31.</p>

        <h2 class="nhsuk-heading-l">Users and uses</h2>

        <p>This publication can have a wide range of users, including:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>informing government or local NHS policy</li>
            <li>allowing public scrutiny of national and regional prescribing habits</li>
            <li>responding to queries made under the Freedom of Information (FOI) act</li>
            <li>supporting resolution of ad-hoc enquiries</li>
        </ul>
        <p>The NHSBSA administer services providing help with health costs. The data that forms the basis of these statistics is collected as a by-product of this process.</p>

        <a class="nhsuk-button nhsuk-u-margin-top-5" href="dashboard-data">Service and metrics</a>

    </div>

</div>
{% endblock %}