<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-dashboard.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Medical Exemption Certificate
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
            <div class="nhsuk-width-container-fluid">

                <div class="nhsuk-main-wrapper" id="maincontent">
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <div class="nhsuk-width-container">

                                <main class="nhsuk-main-wrapper" id="maincontent" role="main">

                                    <div class="nhsuk-grid-row">
                                        <div class="nhsuk-grid-column-full">

                                            <h1>Glossary</h1>

                                            <nav class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4" id="nhsuk-nav-a-z" role="navigation" aria-label="A to Z Navigation">
                                                <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0" role="list">
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block nhsuk-u-secondary-text-color">A</span>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#B">B</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block nhsuk-u-secondary-text-color">C</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block nhsuk-u-secondary-text-color">D</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#E">E</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#F">F</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#G">G</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#H">H</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#I">I</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#J">J</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#K">K</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#L">L</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#M">M</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#N">N</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#O">O</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#P">P</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Q">Q</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#R">R</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#S">S</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#T">T</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#U">U</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#V">V</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#W">W</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#X">X</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Y">Y</a>
                                                    </li>
                                                    <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1 nhsuk-a-to-z-min-width">
                                                        <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Z">Z</a>
                                                    </li>
                                                </ol>
                                            </nav>

                                            <div class="nhsuk-card nhsuk-card--feature">
                                                <div class="nhsuk-card__content nhsuk-card__content--feature">
                                                    <h2 id="A" class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24">
                                                        A
                                                    </h2>
                                                    <ul class="nhsuk-list nhsuk-list--border">
                                                        <li>There are currently no conditions listed</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="nhsuk-back-to-top">
                                                <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                                                    Back to top
                                                </a>
                                            </div>

                                            <div class="nhsuk-card nhsuk-card--feature">
                                                <div class="nhsuk-card__content nhsuk-card__content--feature">
                                                    <h2 id="B" class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24">
                                                        B
                                                    </h2>
                                                    <table role="table" class="nhsuk-table-responsive">
                                                        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Glossary items beginning with A</caption>
                                                        <thead role="rowgroup" class="nhsuk-table__head">
                                                            <tr role="row">
                                                                <th role="columnheader" class="" scope="col">
                                                                    Term
                                                                </th>
                                                                <th role="columnheader" class="" scope="col">
                                                                    Classification
                                                                </th>
                                                                <th role="columnheader" class="" scope="col">
                                                                    Definition
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="nhsuk-table__body">
                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Term </span>Base population
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Classification </span>HRT PPC
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Definition </span>For HRT PPC data the base population is based ont he estimate number of patietns, ages 16 to 59 receiving NHS precriptions for medicines that are eligible for support via the HRT PPC. This certificate provides support with NHS prescription costs and this group represents all people receiving the relevant medication via NHS prescriptions who are not automatically exempt from prescription charges based on age.
                                                                </td>
                                                            </tr>
                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Term </span>Base population
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Classification </span>Maternity exemption certificate
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Definition </span>For maternity exemption data the base population is based on ONS population estimates for females aged 15-45. This reflescts the general classification used for women of child bearing age.
                                                                </td>
                                                            </tr>
                                                            <tr role="row" class="nhsuk-table__row">
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Term </span>Base population
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Classification </span>Medical exemption certificate
                                                                </td>
                                                                <td role="cell" class="nhsuk-table__cell">
                                                                    <span class="nhsuk-table-responsive__heading">Definition </span>For medical exemption data the base population is based on the estimate number of patients, aged 16 to 59 receiving NHS prescrptions.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="nhsuk-back-to-top">
                                                <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                                                    Back to top
                                                </a>
                                            </div>

                                            <div class="nhsuk-card nhsuk-card--feature">
                                                <div class="nhsuk-card__content nhsuk-card__content--feature">
                                                    <h2 id="C" class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24">
                                                        C
                                                    </h2>
                                                    <ul class="nhsuk-list nhsuk-list--border">
                                                        <li>There are currently no conditions listed</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="nhsuk-back-to-top">
                                                <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                                                    Back to top
                                                </a>
                                            </div>

                                            <div class="nhsuk-card nhsuk-card--feature">
                                                <div class="nhsuk-card__content nhsuk-card__content--feature">
                                                    <h2 id="D" class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-u-font-size-24">
                                                        D
                                                    </h2>
                                                    <ul class="nhsuk-list nhsuk-list--border">
                                                        <li>There are currently no conditions listed</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="nhsuk-back-to-top">
                                                <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                                                    Back to top
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                </main>
                            </div>
                        </div>
                    </div>



                </div>

            </div>


        </div>
        <div class="nhsBSA-sidebar-nav">

            <div class="side-nav">
                <ul>
                    <div id="options" class="options">
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Methodology</a></li>
                        <li><a href="#">Data download</a></li>
                        <li><a href="#" class="active">Glossary</a></li>
                    </div>
                </ul>
            </div>


        </div>
    </div>

</div>

{% endblock %}