{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "latest-news",
            "text": "Go back"
          }) }}
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                eOPS
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>Lorem ipsum dolor sit amet consectetur
        </h1>
        <p class="nhsuk-secondary-color">Posted: 19 July 2024</p>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam adipisci reiciendis id. Ducimus, sequi esse libero saepe nobis maiores, possimus inventore voluptatibus aperiam placeat veritatis, beatae iusto. Eum, repellendus commodi.</p>

        <p>Adipisicing elit. Eaque commodi facere consectetur natus hic, ipsam rem deserunt corporis maiores obcaecati laudantium maxime odio quidem officiis ullam mollitia? Eaque tempore, consectetur nulla sequi quisquam, reprehenderit iste ratione ipsa maxime, esse delectus sunt accusantium aliquid aliquam cum.</p>

        <p>Consectetur adipisicing elit. Maiores, distinctio? Placeat, error. Non ad pariatur illo doloremque tempora numquam officiis, ducimus corporis placeat explicabo cum possimus beatae, at deleniti hic culpa exercitationem. Provident minus ipsum quos ut expedita dolorum, consequatur vero impedit perspiciatis repellat iste repudiandae consequuntur explicabo, quis quidem corporis, alias nostrum doloribus! Totam nihil corporis amet iure laboriosam?</p>

        <p>Enim vitae est consequatur magnam, dolorem nulla. Ex minima dignissimos in repellendus?</p>
    </div>
</div>
{% endblock %}