{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-0">
                    <span class="nhsuk-caption-l">
                        Data Services
                        <span class="nhsuk-u-visually-hidden"> - </span>
                    </span>Prescription Data - ePACT2
                </h1>
            </div>
        </div>
        <hr>
    </div>

    <div class="nhsuk-grid-column-two-thirds">

        <h2 class="nhsuk-heading-l">Latest data release</h2>
        <p>Remuneration reports: 4 April 2024</p>
        <p>CIR Dispensing practice name and address: 2 April 2024</p>

        <h2 class="nhsuk-heading-l">Latest news</h2>
        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">BNF code changes - January 2024</h3>
        <p>The annual version changes relating to the BNF Structure have been implemented with January 2024 dispensing data.</p>
        <p><a href="https://www.nhsbsa.nhs.uk/access-our-data-products/epact2/epact2-news">View all latest news</a></p>

        <h2 class="nhsuk-heading-l">Data services support</h2>
        <p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <!-- </div>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0"> -->
            <h2 class="nhsuk-heading-m">ePACT2 training</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Access ePACT2 training</a></li>
                <li><a href="#">Book an ePACT2 training webinar</a></li>
                <li><a href="#">ePACT2 user guides and videos</a></li>
            </ul>
            <!-- </div>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0"> -->
            <h2 class="nhsuk-heading-m">Guidance</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Dashboard guidance</a></li>
                <li><a href="#">Report guidance</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}