{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            Pharmacy Contract Managers Reports
        </h1>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Reports for Pharmacy Contract Managers</h2>
        <ul class="nhsuk-list">
            <li><a href="#">Pharmacy Dashboard</a></li>
            <li><a href="#">Out of Pocket Expenses</a></li>
            <li><a href="#">Advanced Services Flu report - Pharmacy Contractors</a></li>
        </ul>
    </div>
</div>
{% endblock %}