{% extends 'layout-top-nav-eops.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>Ophthalmic Data - eOPS
        </h1>
        <hr>
    </div>

    <div class="nhsuk-grid-column-two-thirds">

        <h2 class="nhsuk-heading-m">Latest versions</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS version 3</a>
                        </h2>
                        <p class="nhsuk-card__description">Open Exeter and EGOS Data</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">NHS England</a>
                        </h2>
                        <p class="nhsuk-card__description">GOS Eligibility Dashboard</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>
            </li>
        </ul>

        <h2 class="nhsuk-heading-m">Previous versions</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">          
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS version 2</a>
                        </h2>
                        <p class="nhsuk-card__description">Open Exeter and EGOS Data</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS verson 1</a>
                        </h2>
                        <p class="nhsuk-card__description">Open Exeter Data Only</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>
            </li>
        </ul>

        <hr>

        <h2 class="nhsuk-heading-m">Data services support</h2>
		<p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Latest release</h2>
            <p class="nhsuk-u-font-size-16">Current reporting period:<br><strong>December 2023</strong></p>
            <hr>
            <h2 class="nhsuk-heading-m">Latest news</h2>
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus labore quasi accusantium.</p>
            <p><a href="#">View all latest news</a></p>
            <hr>
            <h2 class="nhsuk-heading-m">eOPS training</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Book an eOPS training webinar</a></li>
                <li><a href="#">eOPS user and guides</a></li>
                <li><a href="#">eOPS dashboard information</a></li>
            </ul>
            <h2 class="nhsuk-heading-m">Guidance</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Dashboard guidance</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}