<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Data and Insight
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-full">
		<h1 class="nhsuk-heading-xl">
			<span class="nhsuk-caption-l">
				Data services
				<span class="nhsuk-u-visually-hidden"> - </span>
			</span>eDEN
		</h1>
	</div>

	<div class="nhsuk-grid-column-two-thirds">

		<p>Providing Data to help users track trends, inform decisions and support policy.</p>

		<p>Here are the Data products you have access to:</p>

		<a href="homepage" class="nhsuk-button nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3">Access eDEN Data</a>

		<p>To see Data products available, visit the <a href="#">NHSBSA website</a>.</p>

		<hr>

		<h2 class="nhsuk-heading-m">Data services support</h2>
		<p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>

		<h2 class="nhsuk-heading-m">eDEN Data Community</h2>
		<p>Share, collaborate, help and problem solve with others in our Data communities, you can join these by registering to <a href="https://future.nhs.uk/">NHS Futures</a>.</p>
		<p>Join the NHSBSA <a href="https://future.nhs.uk/NHSBSAeDENUsersForum/groupHome">eDEN Data Community</a>.</p>

	</div>

	<div class="nhsuk-grid-column-one-third">
		<div class="nhsuk-inset-text nhsuk-u-margin-top-0">
			<h2 class="nhsuk-heading-m">Latest Data</h2>
            <p class="nhsuk-u-font-size-16">Previous released:<br><strong>25 March 2024</strong></p>
            <p class="nhsuk-u-font-size-16">Next release:<br><strong>26 April 2024</strong></p>
			<hr>
			<h2 class="nhsuk-heading-m">Useful links</h2>
			<ul class="nhsuk-list">
				<li><a href="https://www.nhsbsa.nhs.uk/data-release-calendar">Release calendar</a></li>
				<li><a href="https://www.nhsbsa.nhs.uk/access-our-data-products">Data products</a></li>
				<li><a href="https://www.nhsbsa.nhs.uk/help-and-support">Training in Data services</a></li>
				<li><a href="https://opendata.nhsbsa.net/">NHSBSA Open Data Portal</a></li>
				<li><a href="https://www.nhsbsa.nhs.uk/nhsbsa-statistics-and-data-science">NHSBSA Statistics and Data Science</a></li>
				<li><a href="https://www.nhsbsa.nhs.uk/prescription-data/requesting-our-prescription-data">How to request Data</a></li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}