{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-xl">
            Financial reports
        </h1>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Reports for Financial Users</h2>
        <ul class="nhsuk-list">
            <li><a href="#">FM2 :: Itermised Prescribing Payments</a></li>
            <li><a href="#">FM4 :: Remun National Summary</a></li>
            <li><a href="#">FM5 :: Remuneration Recharges</a></li>
            <li><a href="#">FM6 :: Remuneration Values</a></li>
            <li><a href="#">FM9 :: Centrally Retained Items</a></li>
            <li><a href="#">PM1 :: Prescribing Monitoring Document</a></li>
            <li><a href="#">F1(A) :: Invoice Reconciliation Report - Prescribing Costs April 2018 onwards</a></li>
            <li><a href="#">F1(B) :: Invoice Reconciliation Report - Prescribing Costs pre-April 2018</a></li>
        </ul>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Reports for Financial Users</h2>
        <ul class="nhsuk-list">
            <li><a href="#">FM2 :: Itermised Prescribing Payments</a></li>
            <li><a href="#">FM5 :: Remuneration Recharges</a></li>
            <li><a href="#">FM6 :: Remuneration Values</a></li>
            <li><a href="#">PM1 :: Prescribing Monitoring Document</a></li>
            <li><a href="#">F1(A) :: Invoice Reconciliation Report - Prescribing Costs April 2018 onwards</a></li>
            <li><a href="#">F1(B) :: Invoice Reconciliation Report - Prescribing Costs pre-April 2018</a></li>
        </ul>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Reports for Financial Users</h2>
        <ul class="nhsuk-list">
            <li><a href="#">FM2 :: Itermised Prescribing Payments</a></li>
            <li><a href="#">FM6 :: Remuneration Values</a></li>
            <li><a href="#">PM1 :: Prescribing Monitoring Document</a></li>
            <li><a href="#">F1(A) :: Invoice Reconciliation Report - Prescribing Costs April 2018 onwards</a></li>
            <li><a href="#">F1(B) :: Invoice Reconciliation Report - Prescribing Costs pre-April 2018</a></li>
        </ul>
    </div>
</div>
{% endblock %}