{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">


        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>ePACT2
        </h1>

    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l">News feed</h2>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
            National Medicines Optimisation Opportunities Dashboard
        </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2023</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                September 2023 Advanced Service Flu report is now available
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2023</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                Medicines Optimisation Dashboard
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2023</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                Patient list sizes
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>16 October 2022</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                Opioid Dashboard (Snapshot) Issue
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>6 October 2022</p>

        <hr>

        <p><a href="#">Vew more from our news feed</a></p>
    </div>

    <div class="nhsuk-grid-column-one-third">

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">Latest data</h2>
              <p class="nhsuk-card__description">Prescription data: <strong>October 23</strong></p>
              <p class="nhsuk-card__description">Remuneration report: <strong>September 23</strong></p>
            </div>
          </div>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Your folders</h2>
            <p><a href="#">View your folders</a></p>

              <h2 class="nhsuk-heading-m">Sandbox</h2>
              <ul class="nhsuk-list">
                <li><a href="#">Community Pharmacy Demand Dashboard</a></li>
                <li><a href="#">EPS Medicines Dashboard</a></li>
                <li><a href="#">Multiple Medicines Patient Count</a></li>
                <li><a href="#">PADM Patient Analysis</a></li>
                <li><a href="#">SPS Drug Monitoring during Covid-19</a></li>
              </ul>

              <h2 class="nhsuk-heading-m">Training</h2>
              <ul class="nhsuk-list">
                <li><a href="#">Book an ePACT2 training webinar</a></li>
                <li><a href="#">ePACT2 user guides and videos</a></li>
              </ul>

        </div>
    </div>

</div>
{% endblock %}