{% extends 'layout-top-nav.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>ePACT2
        </h1>
    </div>

    <!-- <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l">News feed</h2>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
            National Medicines Optimisation Opportunities Dashboard
        </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2023</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                September 2023 Advanced Service Flu report is now available
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2023</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                Medicines Optimisation Dashboard
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>8 June 2023</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                Patient list sizes
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>16 October 2022</p>

        <hr>

        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                Opioid Dashboard (Snapshot) Issue
            </h3>
        </a>
        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on: </span>6 October 2022</p>

        <hr>

        <p><a href="#">Vew more from our news feed</a></p>
    </div> -->

    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-m">Recently accessed</h2>
        <p>These are the 3 most recent data formats you have accessed.</p>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">Alerts dashboard</a>
                        </h2>
                        <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                            magnam.</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">Itemised Prescribing Payments
                            </a>
                        </h2>
                        <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur.</p>
                        <strong class="nhsuk-tag nhsuk-tag--pink">
                            Report
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">Polypharmacy Prescribing Comparators
                            </a>
                        </h2>
                        <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
        </ul>
        <h2 class="nhsuk-heading-m">Favourites</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">Itemised Prescribing Payments
                            </a>
                        </h2>
                        <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur.</p>
                        <strong class="nhsuk-tag nhsuk-tag--pink">
                            Report
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">Alerts dashboard</a>
                        </h2>
                        <p class="nhsuk-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                            magnam.</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">Polypharmacy Prescribing Comparators
                            </a>
                        </h2>
                        <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <strong class="nhsuk-tag nhsuk-tag--green">
                            Dashboard
                        </strong>
                    </div>
                </div>

            </li>
        </ul>
        <p><a href="#">View all your favourites</a></p>
        <!-- <h2 class="nhsuk-heading-m">Latest news</h2>
        <a href="#">
            <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                National Medicines Optimisation Opportunities Dashboard
            </h3>
        </a>
        <p>The National Medicines Optimisation Opportunities Dashboard is now available in ePACT2.</p>
        <p>This has been developed with NHS England to bring together data to support the National medicinesoptimisation opportunities 2023/24. It includes metrics to support nine of the opportunity areas and we will add more when we can.</p>
        <p>We plan to update the data monthly but this may lag the monthly ePACT2 prescription data refresh by a day or two. If you have any queries relating to this, please contact dataservicessupport@nhsbsa.nhs.uk</p>
        <p>You can also discuss this on our ePACT2 user forum on FutureNHS</p>

        <p class="nhsuk-u-font-size-16 nhsuk-u-font-weight-bold"><span class="nhsuk-u-visually-hidden">Published on:
            </span>8 June 2023</p> -->
    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Latest data</h2>
            <p>Prescription data: <strong>January 2024</strong></p>
            <p>Remuneration report: <strong>February 2024</strong></p>
            <hr>
            <h2 class="nhsuk-heading-m">Your folders</h2>
            <ul class="nhsuk-list">
                <li><a href="#">View your folders</a></li>
            </ul>

            <h2 class="nhsuk-heading-m">Training</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Book an ePACT2 training webinar</a></li>
                <li><a href="#">ePACT2 user guides and videos</a></li>
            </ul>

            <h2 class="nhsuk-heading-m">Sandbox</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Community Pharmacy Demand Dashboard</a></li>
                <li><a href="#">EPS Medicines Dashboard</a></li>
                <li><a href="#">Multiple Medicines Patient Count</a></li>
                <li><a href="#">PADM Patient Analysis</a></li>
                <li><a href="#">SPS Drug Monitoring during Covid-19</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}