<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Data and Insight
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<!-- Notification banner -->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-notification-banner" role="region" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
            <div class="nhsuk-notification-banner__header">
                <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="nhsuk-notification-banner__content">
                <p class="nhsuk-notification-banner__heading">
                    There is an issue updating the May 2024 Remuneration data. We are working to have this fixed as soon as possible.
                </p>
            </div>
        </div>

    </div>
</div>
<!-- End of Notification banner -->

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            Data Services
        </h1>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <p>Reports and data to help NHS customers track trends, inform decisions and support policy.</p>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                January 2022 Catalyst data - 23/03/2022
              </span>
            </h3>
            <p>A potential issue has been identified with Jsanuary 2022 Catalyst data relating to STAR-PUs. Developers are working to resolve this issue.</p>
          </div>
        <p>Here are the systems you have access to:</p>


        <div class="nhsuk-action-link nhsuk-u-margin-top-5">
            <a class="nhsuk-action-link__link" href="eDEN/v3/homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">eDEN - Dental data</span>
            </a>
        </div>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="eOPS/v3/homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">eOPS - Opthalmic data</span>
            </a>
        </div>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="ePACT/v3/homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">ePACT2 - Prescription data</span>
            </a>
        </div>

        <hr>

        <h2 class="nhsuk-heading-m">Data Services support</h2>
        <p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>

        <h2 class="nhsuk-heading-m">NHSBSA Data Communities</h2>
        <p>Share, collaborate, help and problem solve with others in our Data communities.</p>
        <p>To access our Data communities, <a href="https://future.nhs.uk/">register to NHS Futures <span>(opens in a new tab)</span></a>.</p>
        <h3 class="nhsuk-heading-xs">Already registered? Join our Data communities</h3>
        <p>The following links open in a new tab:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="https://future.nhs.uk/NHSBSAeDENUsersForum/groupHome">eDEN Community <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
            <li><a href="https://future.nhs.uk/eopsusernetwork">eOPS Community <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
            <li><a href="https://future.nhs.uk/ePACT2/groupHome">ePACT2 Community <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
        </ul>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Latest data</h2>
            <p class="nhsuk-u-font-size-16">ePACT2 remuneration reports:<br><strong>4 April 2024</strong></p>
            <p class="nhsuk-u-font-size-16">eDEN next release:<br><strong>26 April 2024</strong></p>
            <p class="nhsuk-u-font-size-16">eOPS current reporting period:<br><strong>December 2023</strong></p>
            <hr>
            <h2 class="nhsuk-heading-m">Useful links</h2>
            <p>The following links open in a new tab:</p>
            <ul class="nhsuk-list">
                <li><a href="https://www.nhsbsa.nhs.uk/data-release-calendar">Release calendar <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/help-and-support">Help, support and training<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://opendata.nhsbsa.net/">NHSBSA Open Data Portal<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/access-our-data-products">NHSBSA Data products<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/nhsbsa-statistics-and-data-science">NHSBSA Statistics and Data Science<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/dental-data/requesting-our-dental-data">How to request dental data<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/ophthalmic-data/requesting-our-ophthalmic-data">How to request ophthalmic data<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/prescription-data/requesting-our-prescription-data">How to request prescription data<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}