<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Data and Insight
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            Data services
        </h1>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <p>Reports and Data to help NHS customers track trends, inform decisions and support policy</p>
        <p>Here are the systems you have access to:</p>


        <div class="nhsuk-action-link nhsuk-u-margin-top-5">
            <a class="nhsuk-action-link__link" href="ePACT/v1/homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">ePACT2 - Prescription Data</span>
            </a>
        </div>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="eDEN/v1/homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">eDEN - Dental Data</span>
            </a>
        </div>
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="eOPS/v1/homepage">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                </svg>
                <span class="nhsuk-action-link__text">eOPS - Opthalmic Data</span>
            </a>
        </div>

        <hr>

        <h2 class="nhsuk-heading-m">Data services support</h2>
        <p>If you have any queries or need require support accessing Data, contact our Data support team, <a href="mailto:DataServicesSupport@nhsbsa.nhs.uk">DataServicesSupport@nhsbsa.nhs.uk</a></p>

        <h2 class="nhsuk-heading-m">NHSBSA Data Communities</h2>
        <p>Share, collaborate, help and problem solve with others in our Data communities, you can join these by registering to <a href="https://future.nhs.uk/">NHS Futures</a>.</p>
        <p>Join our Data communities:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="https://future.nhs.uk/ePACT2/groupHome">ePACT2 Community</a></li>
            <li><a href="https://future.nhs.uk/NHSBSAeDENUsersForum/groupHome">eDEN Community</a></li>
            <li><a href="https://future.nhs.uk/eopsusernetwork">eOPS Community</a></li>
        </ul>

    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Latest Data</h2>
            <p class="nhsuk-u-font-size-16">ePACT2 remuneration reports:<br><strong>4 April 2024</strong></p>
			<p class="nhsuk-u-font-size-16">eDEN next release:<br><strong>26 April 2024</strong></p>
            <p class="nhsuk-u-font-size-16">eOPS current reporting period:<br><strong>December 2023</strong></p>
            <hr>
            <h2 class="nhsuk-heading-m">Useful links</h2>
            <ul class="nhsuk-list">
                <li><a href="https://www.nhsbsa.nhs.uk/data-release-calendar">Release calendar</a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/access-our-data-products">Data products</a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/help-and-support">Training in Data services</a></li>
                <li><a href="https://opendata.nhsbsa.net/">NHSBSA Open Data Portal</a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/nhsbsa-statistics-and-data-science">NHSBSA Statistics and Data Science</a></li>
                <li><a href="https://www.nhsbsa.nhs.uk/prescription-data/requesting-our-prescription-data">How to request Data</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}