<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Data and Insight
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            Data services
        </h1>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <p>Reports and data to help NHS customers track trends, inform decisions and support policy</p>
        <p>Here are the systems you have access to:</p>

        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-top-7">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    ePACT2 System
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Use this service to access prescription data.</p>
                <p>The ePACT2 service will allow you to access interactive and easy to use reports and dashboards, view high level data summaries down to individual prescription items and patient level detail, build bespoke analysis and export data.</p>
                <a href="ePACT/v1/homepage-with-recent" class="nhsuk-button">Access ePACT2 Data</a>
            </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    eDEN System
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>You can see your GP records by:</p>
                <ul>
                    <li>asking for them at your GP surgery </li>
                    <li>going online to see them (if you have signed up for <a
                            href="/using-the-nhs/nhs-services/gps/gp-online-services/">GP online services</a>) </li>
                </ul>
            </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    eOPS System
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>You can see your GP records by:</p>
                <ul>
                    <li>asking for them at your GP surgery </li>
                    <li>going online to see them (if you have signed up for <a
                            href="/using-the-nhs/nhs-services/gps/gp-online-services/">GP online services</a>) </li>
                </ul>
            </div>
        </details>
        <h2 class="nhsuk-heading-m">Data services support</h2>
        <p>If you have any queries or need require support accessing data, contact our data support team, <a
                href="mailto:DataServicesSupport@nhsbsa.nhs.uk">dataServicesSupport@nhsbsa.nhs.uk</a></p>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Additional resources</h2>
            <ul class="nhsuk-list">
                <li><a href="#">ePACT2 information website</a></li>
                <li><a href="#">eDEN information website</a></li>
                <li><a href="#">eOPS information website</a></li>
                <li><a href="#">Training in data services</a></li>
                <li><a href="#">How to request data</a></li>
                <li><a href="#">Data communities</a></li>
                <li><a href="#">Release calendar</a></li>
                <li><a href="#">Open data portal</a></li>
                <li><a href="#">Data services information website</a></li>
                <li><a href="#">NHS Business Services Authority</a></li>
                <!-- <li><a href="#">Department of Health and Social Care</a></li>
                <li><a href="#">NHS England</a></li>
                <li><a href="#">NHS Improvement</a></li>
                <li><a href="#">NHS Digital</a></li>
                <li><a href="#">Care and Quality Commision</a></li>
                <li><a href="#">Health Education England</a></li>
                <li><a href="#">Public Health England</a></li> -->
            </ul>
        </div>
    </div>

</div>
{% endblock %}