<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Data and Insight
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            Data services
        </h1>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <p>Reports and data to help NHS customers track trends, inform decisions and support policy</p>
        <p>Here are the systems you have access to:</p>

        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-top-7">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    ePACT2 System
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Use this service to access prescription data.</p>
                <p>The ePACT2 service will allow you to access interactive and easy to use reports and dashboards, view
                    high level data summaries down to individual prescription items and patient level detail, build
                    bespoke analysis and export data.</p>
                <a href="ePACT/v1/homepage" class="nhsuk-button">Access ePACT2 Data</a>
            </div>
        </details>
        
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    eDEN System
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Use this system to access dental data.</p>
                <p>eDEN is an online application designed to streamline dental data management. With eDEN, users can swiftly access dental information, ensuring a faster and more efficient retrieval process.</p> 
                <p>The platform offers user-friendly reporting tools, facilitating easy management of reports. Additionally, eDEN enables users to refresh and export dashboards and flat data tables, enhancing the overall data handling experience. The application also provides visually engaging data visualizations, offering a comprehensive and intuitive overview of dental data.</p>
                <a href="eDEN/v1/homepage" class="nhsuk-button">Access eDEN Data</a>
            </div>
        </details>
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    eOPS System
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Use this system to access ophthalmic data.</p>
                <p>eOPS is an online application designed to optimize the handling of ophthalmic data. Users benefit from access to vital information, ensuring a swift and efficient data retrieval process.</p>
                <p>The platform offers intuitive and user-friendly reporting tools, empowering users to easily manage reports with enhanced efficiency. Additionally, eOPS facilitates the seamless refresh and exportation of dashboards and flat data tables, further streamlining data manipulation. The application enhances data comprehension through visually appealing data visualizations, providing a comprehensive and insightful overview of ophthalmic data.</p>
                <a href="eOPS/v1/homepage" class="nhsuk-button">Access eOPS Data</a>
            </div>
        </details>
        <h2 class="nhsuk-heading-m">Data services support</h2>
        <p>If you have any queries or need require support accessing data, contact our data support team, <a
                href="mailto:DataServicesSupport@nhsbsa.nhs.uk">dataServicesSupport@nhsbsa.nhs.uk</a></p>
    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Additional resources</h2>
            <ul class="nhsuk-list">
                <li><a href="#">ePACT2 information website</a></li>
                <li><a href="#">eDEN information website</a></li>
                <li><a href="#">eOPS information website</a></li>
                <li><a href="#">Training in data services</a></li>
                <li><a href="#">How to request data</a></li>
                <li><a href="#">Data communities</a></li>
                <li><a href="#">Release calendar</a></li>
                <li><a href="#">Open data portal</a></li>
                <li><a href="#">Data services information website</a></li>
                <li><a href="#">NHS Business Services Authority</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}