{% extends 'layout-full-width.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>eOPS
        </h1>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <p>Here you have access to your recently accessed and list of dashboards, ensuring quick and easy retrieval of essential information.</p>
        <hr>
        <h2 class="nhsuk-heading-m">Recently accessed</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS version 2</a>
                        </h2>
                        <p class="nhsuk-card__description">Open Exeter and EGOS Data</p>
                    </div>
                </div>
            </li>
        </ul>

        <h2 class="nhsuk-heading-m">Dashboards</h2>
        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS version 3</a>
                        </h2>
                        <p class="nhsuk-card__description">With performer Data (Beta)</p>
                    </div>
                </div>
            </li>            
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS version 2</a>
                        </h2>
                        <p class="nhsuk-card__description">Open Exeter and EGOS Data</p>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">eOPS verson 1</a>
                        </h2>
                        <p class="nhsuk-card__description">Open Exeter Data Only</p>
                    </div>
                </div>
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="#">NHS England</a>
                        </h2>
                        <p class="nhsuk-card__description">GOS Eligibility Dashboard</p>
                    </div>
                </div>
            </li>
        </ul>

        

    </div>

    <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <h2 class="nhsuk-heading-m">Latest data</h2>
            <p>EGOS data: <strong>January 2024</strong></p>
            <p>Performer data: <strong>February 2024</strong></p>
            <hr>
            <h2 class="nhsuk-heading-m">Useful links</h2>
            <ul class="nhsuk-list">
                <li><a href="#">eOPS information website</a></li>
                <li><a href="#">NHS Business Services Authority</a></li>
                <li><a href="#">NHS England</a></li>
                <li><a href="#">Care and Quality Commission</a></li>
                <li><a href="#">Department of Health and Social Care</a></li>
            </ul>
            <h2 class="nhsuk-heading-m">Training and resources</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Book an eOPS training webinar</a></li>
                <li><a href="#">eOPS user and guides</a></li>
                <li><a href="#">eOPS dashboard information</a></li>
            </ul>
            <h2 class="nhsuk-heading-m">Feedback</h2>
            <ul class="nhsuk-list">
                <li><a href="#">Provide feedback on the eOPS product</a></li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}