{% extends 'layout-top-nav-eden.html' %}

{% block pageTitle %}
Page templates - NHS.UK prototype kit
{% endblock %}



{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-l">
                Data Services
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>NHS Wales Commissioner
        </h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Useful links</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">eDEN Website</a></li>
            <li><a href="#">NHSBSA</a></li>
            <li><a href="#">NHS Wales</a></li>
            <li><a href="#">Dept of Health & Social Care</a></li>
            <li><a href="#">Care and Quality Commission</a></li>
        </ul>
        <h2 class="nhsuk-heading-m">Training & Resources</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">Book an eDEN training webinar</a></li>
            <li><a href="#">eDEN user and guides</a></li>
            <li><a href="#">eDEN Dashboard information</a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Welcome</h2>
        <hr>
        <p>Dear Colleague,</p>
        <p>We hope you find accessing information via the eDEN system will enable faster and easier access to the data you need.</p>
        <p> The eDEN system contains a number of dashboards, presenting information in a variety of ways, combining the best elements of the Year End and Vital Signs reports. To access the dashboard, please click the links opposite this news story.</p>
        <p>The system is designed to evolve over time with feedback from its users. Please do make use of the link at the right-hand side of this page to leave us your feedback on how the system is performing, any technical or suspected data issues or any extra data you would like to see in the future.</p>
        <p>For more information on eDEN including training materials, please see our website here.</p>
        <p>The Dental Insight Team</p>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Dashboards</h2>
        <hr>
        <ul class="nhsuk-list">
            <li><a href="#">NHS Wales Dentistry Dashboard v1
            </a></li>
            <li><a href="#">Welsh Government Quarterly
            </a></li>
            <li><a href="#">Provider NHS Wales Dentistry Dashboard
            </a></li>
            <li><a href="#">Provider NHS Wales Dentistry Dashboard (LHB)
            </a></li>
            <li><a href="#">Provider NHS Wales Dentistry Dashboard (Wales)
            </a></li>
            <li><a href="#">Wales Data Dashboard (LHB)
            </a></li>
            <li><a href="#">Wales Data Dashboard (Wales)
            </a></li>
            <li><a href="#">Wales Monthly Data Dashboard (LHB)
            </a></li>
        </ul>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
        <h2 class="nhsuk-heading-m">Feedback</h2>
        <hr>
        <p>Please use the above button to report and feedback on any:</p>
        <ul class="nhsuk-list nhsuk-list--number">
            <li>suggestions for improvement</li>
            <li>technical issues</li>
            <li>data anomalies</li>
        </ul>
        <p>eDEN will evolve over time, your feedback on how it is working for you is invaluable.</p>
    </div>
</div>

{% endblock %}